<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457830231729-fj7ohj77iro7fn5p3ge65nqfl2ontmhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457830231729-fj7ohj77iro7fn5p3ge65nqfl2ontmhs</string>
	<key>API_KEY</key>
	<string>AIzaSyC7vzH9vAjk5EAfS5NLWBAGcfLBoxHAnxs</string>
	<key>GCM_SENDER_ID</key>
	<string>457830231729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.kaztravelappp</string>
	<key>PROJECT_ID</key>
	<string>flutter-appp-e12b0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-appp-e12b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457830231729:ios:17271cc284a81cfd47fc90</string>
</dict>
</plist>